{erl_opts, [debug_info]}.

{deps,
 [{cowboy, "2.9.0"},
  {eradius, {git, "https://github.com/travelping/eradius.git", {tag, "2.2.4"}}},
  {template_compiler, "2.3.1"}]}.

{shell,
 [
  {config, "config/sys.config"},
  {apps, [erl_app_oprex1]}
]}.

{project_plugins, [rebar3_format]}.

{relx,
 [{release, {erl_app_oprex1, "0.0.1"}, [erl_app_oprex1]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}]}.

{profiles, [{prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}]}.
